<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telenav.autopilotcontrol">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/car_icon"
        android:label="AutopilotControl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape">

        <activity
            android:name=".app.ui.SplashActivity"
            android:label="AutopilotControl"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b29bc5ea18914b3afb89ed730e3ddf938f4fe283" />

        <uses-library android:name="android.test.runner" />


        <activity android:name=".app.ui.MainActivity"></activity>

    </application>

</manifest>
