<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.telenav.sdk_sample"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.SdkSampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/maps_icon_three"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.map.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b29bc5ea18914b3afb89ed730e3ddf938f4fe283" />
        <uses-library android:name="android.test.runner"/>
        <activity android:name=".ui.map.MapActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
